<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

Exercise 1

In [11]:
temperatures_celsius = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

for temp in temperatures_celsius:
    temp_fahrenheit = (9/5)*temp + 32
    print("Temperature in Celcius, in Fahrenheit:", temp, ',', temp_fahrenheit)

Temperature in Celcius, in Fahrenheit: 0 , 32.0
Temperature in Celcius, in Fahrenheit: 5 , 41.0
Temperature in Celcius, in Fahrenheit: 10 , 50.0
Temperature in Celcius, in Fahrenheit: 15 , 59.0
Temperature in Celcius, in Fahrenheit: 20 , 68.0
Temperature in Celcius, in Fahrenheit: 25 , 77.0
Temperature in Celcius, in Fahrenheit: 30 , 86.0
Temperature in Celcius, in Fahrenheit: 35 , 95.0
Temperature in Celcius, in Fahrenheit: 40 , 104.0
Temperature in Celcius, in Fahrenheit: 45 , 113.0
Temperature in Celcius, in Fahrenheit: 50 , 122.0

Exercise 2

Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using nested for loops. The output should be formatted as shown below:

1 : 1   2   3   4   5   
2 : 2   4   6   8   10  
3 : 3   6   9   12  15  
4 : 4   8   12  16  20  
5 : 5   10  15  20  25

In [2]:
for numbers in [1, 2, 3, 4, 5]:
    print(numbers, ":", end='\t')
    for number in [1, 2, 3, 4, 5]:
        print(f'{numbers*number}', end='\t')
    print( '\n')

1 :	1	2	3	4	5

2 :	2	4	6	8	10

3 :	3	6	9	12	15

4 :	4	8	12	16	20

5 :	5	10	15	20	25